[container] {
  margin: 30px auto;
}

mat-toolbar {
  margin-bottom: 30px;

  &::ng-deep {
    .mat-toolbar-row {
      justify-content: center;
    }
  }
}

[question-block] {
  margin-bottom: 5px;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

mat-card-actions {
  text-align: center;
}

mat-horizontal-stepper::ng-deep {
  .mat-step-icon,
  .mat-step-icon-not-touched {
    margin-right: 0;
  }
  .mat-step-label {
    display: none;
  }
}

button {
  transition: all 0.4s;

  &[disabled] {
    pointer-events: none;
    background-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,.38);
  }

  &[submit-button] {
    background-color: #fff;
    color: #000;
    margin: 20px auto;
    display: block;

    &:hover {
      background-color: #ff4081;
      color: #fff;
    }
  }
}

@media(max-width: 1024px) {
  mat-toolbar {
    font-size: 16px;
  }

  mat-expansion-panel::ng-deep {
    .mat-expansion-panel-body {
      margin-left: 0;
      margin-right: 0;
    }
  }

  mat-card {
    padding-left: 0;
    padding-right: 0;
  }
}

mat-card {
  mat-card-header {
    mat-card-title {
      font-size: 16px !important;
    }
    mat-card-subtitle {
      font-size: 14px !important;
    }
  }
  mat-card-actions {
    button:not(:last-child) {
      margin-right: 20px !important;
    }
  }
}

mat-dialog-container {
  margin: 0 auto;
}

@media(min-width: 1024px) {
  [container] {
    margin: 100px auto;
    width: 60%;
  }

  mat-card {
    mat-card-header {
      mat-card-title {
        font-size: 18px !important;
      }
      mat-card-subtitle {
        font-size: 18px !important;
        font-weight: bold;
        margin-top: 15px !important;
        color: #106cc8 !important;
      }
    }
  }
}