[container] {
  margin: 50px auto;
}

[question-block] {
  margin-bottom: 5px;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

mat-card-actions {
  text-align: center;
}

mat-horizontal-stepper::ng-deep {
  .mat-step-icon,
  .mat-step-icon-not-touched {
    margin-right: 0;
  }
  .mat-step-label {
    display: none;
  }
}

button {
  transition: all 0.4s;

  &[disabled] {
    pointer-events: none;
    background-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,.38);
  }

  &[submit-button] {
    background-color: #fff;
    color: #000;
    margin: 20px auto;
    display: block;

    &:hover {
      background-color: #ff4081;
      color: #fff;
    }
  }


}

@media(max-width: 1024px) {

}

@media(min-width: 1024px) {
  [container] {
    margin: 200px auto;
    width: 60%;
  }
}