<div container *ngIf="questions">
  <form [formGroup]="answerForm" (submit)="submitAnswers()">
    <mat-expansion-panel question-block *ngFor="let questionBlock of questions; index as questionBlockIndex; last as lastQuestionBlock">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{questionBlockIndex + 1}} daļa
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-horizontal-stepper linear [formArrayName]="questionBlockIndex">
        <mat-step *ngFor="let question of questionBlock; index as questionIndex; last as lastQuestion" [stepControl]="answerForm.controls[questionBlockIndex].controls[questionIndex]">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{question.title}}</mat-card-title>
              <mat-card-subtitle *ngIf="question.subtitle">{{question.subtitle}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-radio-group class="example-radio-group" [formControlName]="questionIndex">
                <mat-radio-button class="example-radio-button" *ngFor="let option of question.options" [value]="option.value">
                  {{option.title}}
                </mat-radio-button>
              </mat-radio-group>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button type="button" mat-button matStepperPrevious [disabled]="questionIndex === 0">Iepriekšējais</button>
              <button mat-raised-button type="button" [disabled]="!answerForm.controls[questionBlockIndex].controls[questionIndex].valid || lastQuestionBlock && lastQuestion" type="button" mat-button matStepperNext (click)="onNextClick(questionBlockIndex, questionIndex)">Nākamais</button>
            </mat-card-actions>
          </mat-card>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-expansion-panel>
    <button *ngIf="answerForm.valid" mat-raised-button submit-button type="submit">Pabeigt aptauju</button>
  </form>
</div>


