[container] {
  margin: 50px auto;
}

mat-card-title {
  text-align: center;
}

@media(max-width: 1024px) {
  mat-card-title {
    font-size: 15px;
  }
}

@media(min-width: 1024px) {
  [container] {
    margin: 100px auto;
    width: 90%;
  }
}